.logo-font {
  font-family: 'leaguespartan', sans-serif;
  letter-spacing: 1px;
}

.day-heading {
  text-align: right;
}

body {
  font-family: 'GlacialIndifferenceRegular', sans-serif;
  background-color: #6A020B;
  color: #f3f3f3;
}

.accent {
  color: #46AA76;
}

.title h3 {
  font-size: 2.2vw;
  text-align: center;
  margin-top: 0;
}

.evening-with-feature, .evening-feature {
  display: inline-block;
}

.venue-heading {
  background-image: url("/img/marquee.jpg");
  background-size: cover;
  height: 125px;
  margin-bottom:  30px;
}

.venue-title {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  opacity: 1;
  margin-top: -15px;
}

.venue-title span {
  padding: 9px 4px 5px 9px;
  background-color: #fff;
  color: #6A020B;
  font-size: 20px;
  letter-spacing: 5px;
}

.lunch-heading, .evening-heading, .coffee-heading, .international-heading {
  position: relative;
  background-color: rgba(31,31,31,0.65);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 33vh;
}

.lunch-heading {
  background-image: url("/img/lunch.jpg");
}

.evening-heading {
  background-image: url("/img/evening.jpg");
}

.coffee-heading {
  background-image: url("/img/coffee.jpg");
  background-size: cover;
}

.international-heading {
  background-image: url("/img/international.jpg");
  background-size: cover;
}

.parallax-heading, .parallax-half-heading {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  opacity: 1;
  margin-top: -30px;
}

.parallax-heading span {
  padding: 18px 8px 10px 18px;
  background-color: #fff;
  color: #6A020B;
  font-size: 40px;
  letter-spacing: 10px;
}

.parallax-half-heading span {
  padding: 12px 5px 7px 12px;
  background-color: #fff;
  color: #6A020B;
  font-size: 30px;
  letter-spacing: 7px;
}

.parallax-heading span img {
  padding-right: 30px;
  padding-bottom: 5px;
}

.overview {
  font-size: 18px;
  padding-top: 20px;
  text-align: justify;
  text-align-last: center;
}

.venue-overview {
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
  text-align-last: center;
  margin-bottom: 30px;
}

p {
  text-align: justify;
}

a, a:hover, a:active {
  color: inherit !important;
  text-decoration: underline;
}

.social-row {
  padding-bottom: 18px;
  padding-top: 18px;
}

.social {
  font-size: 18px;
  text-decoration: none;
}

.modal-content {
  background-color: #222;
  color: #ccc
}

.close {
  opacity: 1;
  color: #ccc;
}

.btn-primary, .btn-primary:focus {
  background-color: #fff;
  color: #222;
  outline: none;
  border: none;
  border-radius: 0;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #ccc !important;
  color: #222 !important;
  outline: none !important;
}
